<header class="HautDePageAcceuil">

  <img
       width="130"
       height="100"
       alt="Logo du ministère de la santé et de la prévention"
       src="assets/Ministère_de_la_Santé_et_de_la_Prévention.svg.png"
  />

  <img
       width="100"
       height="100"
       alt="Logo Resources Relationel"
       src="assets/ReSourcesRelationel.png"
  />

    <button class="Bouton BoutonAcceuil" (click)="AcceuilCliquable()">Acceuil</button>
    <button class="Bouton BoutonConnection" (click)="ConnectionCliquable()" routerLink="/connexion">Connection</button>
  <input class="rechercheRubrique" matInput  value="Recherche">
</header>

<div class="divAcceuil" >
<table>
  <tr>
    <td>
      <button class="BoutonsAcceuil " (click)="AcceuilCliquable()">Ressources</button>
    </td>
    <td>
      <button class="BoutonsAcceuil" (click)="ConnectionCliquable()">Espace Echange</button>
    </td>
    <td >
      <button class="BoutonsAcceuil" (click)="ConnectionCliquable()">Statistiques</button>
    </td>
  </tr>
</table>
</div>

<div class="divRubrique" >
  <table>
    <tr>
      <td>
        <button class="BoutonsAcceuil " (click)="AcceuilCliquable()">Livre</button>
      </td>
      <td>
        <button class="BoutonsAcceuil" (click)="ConnectionCliquable()">Son</button>
      </td>
      <td >
        <button class="BoutonsAcceuil" (click)="ConnectionCliquable()">videos</button>
      </td>
      <td >
        <button class="BoutonsAcceuil" (click)="ConnectionCliquable()">Images</button>
      </td>
    </tr>
  </table>
</div>

<div class="divRubrique" >
  <h1>Ressources du moment</h1>
</div>

<div class="divRubrique" >
  <h1>Derniers topics</h1>
</div>
