<header class="HautDePageAcceuil">

  <img
       width="130"
       height="100"
       alt="Logo du ministère de la santé et de la prévention"
       src="assets/Ministère_de_la_Santé_et_de_la_Prévention.svg.png"
  />

  <img
       width="100"
       height="100"
       alt="Logo Resources Relationel"
       src="assets/ReSourcesRelationel.png"
  />

    <button class="Bouton BoutonAcceuil" (click)="AcceuilCliquable()">Accueil</button>
  <button style="position: absolute; right: 10px;" (click)="ConnectionCliquable()" routerLink="/connexion">Connexion</button>
  <input style="position: absolute; right: 100px;" matInput  value="Recherche">
</header>

<div class="divAcceuil" >
<table>
  <tr>
    <td>
      <button class="BoutonsAcceuil " (click)="AcceuilCliquable()">Ressources</button>
    </td>
    <td>
      <button class="BoutonsAcceuil" (click)="ConnectionCliquable()">Espace Echange</button>
    </td>
    <td >
      <button class="BoutonsAcceuil" (click)="ConnectionCliquable()">Statistiques</button>
    </td>
  </tr>
</table>
</div>

<div class="divRubrique" >
  <table>
    <tr>
      <td>
        <button class="BoutonsAcceuil " (click)="AcceuilCliquable()" routerLink="/livre-ressource-list">Livre</button>
      </td>
      <td>
        <button class="BoutonsAcceuil" (click)="ConnectionCliquable()" routerLink="/son-ressource-list">Son</button>
      </td>
      <td >
        <button class="BoutonsAcceuil" (click)="ConnectionCliquable()" routerLink="/video-ressource-list">Vidéos</button>
      </td>
      <td >
        <button class="BoutonsAcceuil" (click)="ConnectionCliquable()" routerLink="/image-ressource-list">Images</button>
      </td>
    </tr>
  </table>
</div>

<div class="divRubrique" >
  <h1>Ressources du moment</h1>
</div>

<div class="divRubrique" >
  <h1>Derniers topics</h1>
</div>
