<!-- <html style="padding: 300px;"> -->
<html>
  <!-- <body style="background-color: #0253A3;padding-bottom: 100px;"> -->
  <body class="greyContent">
    <div class="blueContent">
      <header style="background-color: white;">
        <img
            width="200"
            height="140"
            alt="Logo du ministère de la santé et de la prévention"
            src="assets/Ministère_de_la_Santé_et_de_la_Prévention.svg.png"
        />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img
            width="170"
            height="150"
            alt="Logo Resources Relationel"
            src="assets/ReSourcesRelationel.png"
        />
      </header>
      <form class="otherContent" [formGroup]="loginForm">
        <h1 for="title">Connexion</h1>
        <br>
        <div>
          <label for="mail">Mail * :</label>
          <input type="email" formControlName="mail" id="mail" required>
          <br>
          <label for="mdp">Mot de passe * :</label>
          <input type="password" formControlName="mdp" id="mdp" required>
          <br>
        </div>
        <button class="button" type="submit" routerLink="/accueil">Se connecter</button>
        <br>
        <div>
          <a href="http://localhost:4200/form-add-user">Créer un compte</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="http://localhost:4200/forget-password">Mot de passe oublié ?</a>
        </div>
      </form>
    </div>
  </body>
</html>
<router-outlet></router-outlet>