<html>
    <body class="greyContent">
        <div class="blueContent">
            <header style="background-color: white;">
                <img
                    style="margin-left: 10px;"
                    width="200"
                    height="140"
                    alt="Logo du ministère de la santé et de la prévention"
                    src="assets/Ministère_de_la_Santé_et_de_la_Prévention.svg.png"
                />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img
                    style="margin-top: 10px;"
                    width="170"
                    height="150"
                    alt="Logo Resources Relationel"
                    src="assets/ReSourcesRelationel.png"
                />
                <button class="buttonAccueil" routerLink="/accueil">Acceuil</button>
                <button style="position: absolute; right: 70px; top: 120px;" routerLink="/connexion">Connexion</button>
                <input style="position: absolute; right: 200px; top: 120px;" matInput  value="Recherche">
            </header>
            <!-- Faire une liste de toutes les ressources -->
            <div class="otherContent">
                <h1>Description de la ressource</h1>
                <div class="greyContent">
                    <p>Tout le descriptif</p>
                </div>
                <br>
                <div class="greyContent">
                    <p>Espace Commentaire</p>
                </div>
                <button routerLink="/image-ressource-list">Retour</button>
            </div>
        </div>
    </body>
</html>