<html>
    <body class="greyContent">
        <div class="blueContent">
            <header style="background-color: white;">
                <img
                    style="margin-left: 10px;"
                    width="200"
                    height="140"
                    alt="Logo du ministère de la santé et de la prévention"
                    src="assets/Ministère_de_la_Santé_et_de_la_Prévention.svg.png"
                />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img
                    style="margin-top: 10px;"
                    width="170"
                    height="150"
                    alt="Logo Resources Relationel"
                    src="assets/ReSourcesRelationel.png"
                />
                <button class="buttonAccueil" routerLink="/accueil">Acceuil</button>
                <button style="position: fixed; right: 70px; top: 120px;" routerLink="/connexion">Connexion</button>
                <input style="position: fixed; right: 200px; top: 120px;" matInput  value="Recherche">
            </header>
            <!-- Faire une liste de toutes les ressources -->
        </div>
        <div class="whiteContent">
            <h1>Liste des Livres</h1>
            <!-- Pour voir la ressource faire = routerLink="/ressource/detail/id" -->
            <button style="right: 70px; position: absolute;" type="button" routerLink="/livre-ressource-detail">Voir la ressource</button>
            <button style="right: 200px; position: absolute;" type="button" routerLink="/livre-ressource-add">Ajouter</button>
            <br><br>
            <table id="customers">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Autor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let livre of livres; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                            {{ livre.name }}
                        </td>
                        <td>{{ livre.auteur }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>