<html>
    <body class="greyContent">
        <div class="blueContent">
            <header style="background-color: white;">
                <img
                    width="200"
                    height="140"
                    alt="Logo du ministère de la santé et de la prévention"
                    src="assets/Ministère_de_la_Santé_et_de_la_Prévention.svg.png"
                />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img
                    width="170"
                    height="150"
                    alt="Logo Resources Relationel"
                    src="assets/ReSourcesRelationel.png"
                />
            </header>
            <!-- Faire une liste de toutes les ressources -->
        </div>
        <div class="whiteContent">
            <h1>Liste des Sons</h1>
            <button class="button" type="button" routerLink="/son-ressource-add">Ajouter</button>
            <br>
            <!-- Pour voir la ressource faire = routerLink="/ressource/detail/id" -->
            <button class="button" type="button" routerLink="/son-ressource-detail">Voir la ressource</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Autor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let son of sons; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                            {{ son.name }}
                        </td>
                        <td>{{ son.auteur }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>